@charset "UTF-8";
@font-face {
  font-family: MAK;
  font-display: swap;
  src: url("../fonts/MAK.woff2") format("woff2"),url("../fonts/MAK.woff") format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: MAK-bold;
  font-display: swap;
  src: url("../fonts/MAK-bold.woff2") format("woff2"),url("../fonts/MAK-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Manrope-Regular;
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"),url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Manrope-SemiBold;
  font-display: swap;
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Manrope-Bold;
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"),url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 375px
}
body {
  color: #1b1c1e;
  line-height: 1;
  font-family: Manrope-Regular;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Manrope-Regular;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #eae1d5
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 83.75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__item {
  position: relative;
  font-size: 1.25rem
}
.spollers__item:not(:last-child) {
  margin-bottom: .9375rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: .625rem 0;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::before {
  content: "читати більше";
  position: absolute;
  right: 0;
  font-weight: 600;
  bottom: -30px;
  background: url(../img/icons/guidance_down-arrow.svg) 0 50% no-repeat;
  height: auto;
  width: auto;
  border-radius: 1.25rem;
  border: 1px solid #1b1c1e;
  padding: .3125rem .3125rem .3125rem 1.875rem;
  transition: all .3s ease 0s
}
._spoller-init .spollers__title._spoller-active::before {
  content: "читати менше";
  background: url(../img/icons/guidance_up-arrow.svg) 0 50% no-repeat
}
.spollers__title:active::before {
  color: #eae1d5;
  background: #1b1c1e url(../img/icons/light_down-arrow.svg) .3125rem 50% no-repeat
}
.spollers__title:active._spoller-active::before {
  color: #eae1d5;
  background: #1b1c1e url(../img/icons/light_up-arrow.svg) 0 50% no-repeat
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.actions {
  display: inline-flex;
  gap: 1.25rem
}
.actions__instagram {
  width: 1.75rem;
  height: 1.75rem
}
.actions__telegtam {
  width: 1.75rem;
  height: 1.75rem
}
.instagram {
  transition: all .5s ease 0s
}
.instagram img {
  max-width: 100%
}
.telegtam {
  transition: all .5s ease 0s
}
.telegtam img {
  max-width: 100%
}
.social {
  display: flex;
  gap: 1.5625rem;
  align-items: center;
  transition: all .5s ease 0s
}
.social span {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
  transition: all .5s ease 0s
}
.social img {
  transition: all .5s ease 0s;
  max-width: 100%
}
.animate {
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0;
  transition: opacity .3s .3s,-webkit-transform .3s .3s;
  transition: transform .3s .3s,opacity .3s .3s;
  transition: transform .3s .3s,opacity .3s .3s,-webkit-transform .3s .3s
}
._watcher-view .animate {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.animate--delay {
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0;
  transition: opacity .3s .6s,-webkit-transform .3s .6s;
  transition: transform .3s .6s,opacity .3s .6s;
  transition: transform .3s .6s,opacity .3s .6s,-webkit-transform .3s .6s
}
._watcher-view .animate--delay {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.animate--delays {
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0;
  transition: opacity .3s .9s,-webkit-transform .3s .9s;
  transition: transform .3s .9s,opacity .3s .9s;
  transition: transform .3s .9s,opacity .3s .9s,-webkit-transform .3s .9s
}
._watcher-view .animate--delays {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.animate-show {
  -webkit-transform: translate(0,15%);
  transform: translate(0,15%);
  opacity: 0;
  transition: opacity .5s,-webkit-transform .5s;
  transition: transform .5s,opacity .5s;
  transition: transform .5s,opacity .5s,-webkit-transform .5s
}
._watcher-view .animate-show {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
._watcher-view .animate-show:nth-child(1) {
  transition-delay: .65s
}
._watcher-view .animate-show:nth-child(2) {
  transition-delay: .8s
}
._watcher-view .animate-show:nth-child(3) {
  transition-delay: .95s
}
._watcher-view .animate-show:nth-child(4) {
  transition-delay: 1.1s
}
._watcher-view .animate-show:nth-child(5) {
  transition-delay: 1.25s
}
._watcher-view .animate-show:nth-child(6) {
  transition-delay: 1.4s
}
.title {
  font-family: Mak;
  padding-bottom: .3125rem;
  padding-top: .625rem;
  border-bottom: 1px solid #1b1c1e
}
.title--small {
  text-align: right;
  font-family: Manrope;
  max-width: 46.125rem
}
.direction__value {
  display: inline-block;
  font-weight: 600;
  padding-right: .1875rem
}
.direction p:not(:last-child) {
  margin-bottom: 1.5625rem
}
.direction p:not(:last-child) {
  margin-bottom: .9375rem
}
.list-composition__title {
  font-weight: 600;
  margin-bottom: .3125rem
}
.list-composition__item {
  line-height: 1.2;
  position: relative;
  padding-left: 1.25rem
}
.list-composition__item::before {
  content: "•";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.list-composition__item:not(:last-child) {
  margin-bottom: .1875rem
}
.price__item {
  display: inline-block;
  border: 1px solid #1b1c1e;
  font-style: normal;
  font-weight: 600;
  padding: .3125rem
}
.price__item:not(:last-child) {
  margin-bottom: .5rem
}
.consultation__link {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline
}
.more p:not(:last-child) {
  margin-bottom: .3125rem
}
.prepayment p:not(:last-child) {
  margin-bottom: .3125rem
}
.table {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #1b1c1e
}
.table__value {
  padding: .3125rem .625rem;
  font-weight: 600;
  border-bottom: 1px solid #1b1c1e
}
.table__content {
  padding: .3125rem .625rem;
  line-height: 1.2
}
.table__theme:not(:last-child) {
  margin-bottom: .9375rem
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #eae1d5
}
.header._header-scroll .header__wrapper {
  margin-top: 0
}
.header._header-scroll .header__container {
  padding-top: .9375rem;
  padding-bottom: .9375rem
}
.header__wrapper {
  border-top: 1px solid #1b1c1e;
  border-bottom: 1px solid #1b1c1e;
  transition: all .3s ease 0s
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;
  transition: all .3s ease 0s
}
.header__menu {
  display: flex;
  align-items: center
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .9375rem
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.hero__container {
  display: flex;
  gap: 3.125rem;
  flex-direction: column-reverse
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: .9375rem
}
.hero__media {
  align-self: center
}
.media-hero img {
  max-width: 100%
}
.media-hero__mobail {
  display: none
}
.content-hero__title {
  -webkit-transform: translate(0,15%);
  transform: translate(0,15%);
  opacity: 0;
  transition: translate .3s,opacity .3s;
  font-family: Mak
}
._watcher-view .content-hero__title {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.content-hero__text {
  -webkit-transform: translate(0,15%);
  transform: translate(0,15%);
  opacity: 0;
  transition: opacity .3s .5s,-webkit-transform .3s .5s;
  transition: transform .3s .5s,opacity .3s .5s;
  transition: transform .3s .5s,opacity .3s .5s,-webkit-transform .3s .5s;
  font-size: 1.125rem
}
._watcher-view .content-hero__text {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.content-hero__text p:not(:last-child) {
  margin-bottom: 1.25rem
}
.content-hero__more {
  font-size: 1.125rem;
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0;
  transition: translate .3s,opacity .3s
}
._watcher-view .content-hero__more {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.astrology__title {
  margin-bottom: 1.25rem
}
.spollers-astrology__title {
  display: grid;
  grid-template-columns: 1fr minmax(auto,46.125rem);
  align-items: end
}
.spollers-astrology__number {
  justify-self: end;
  font-family: Manrope
}
.spollers-astrology__body {
  display: grid;
  grid-template-columns: 1fr minmax(auto,46.125rem);
  align-items: end
}
.body-spoilers__wrapper {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column
}
.title-block-big-spoilers:not(:last-child) {
  margin-bottom: .9375rem
}
.reviews__title {
  margin-bottom: 2.5rem
}
.reviews__body {
  max-width: 66.625rem;
  margin: 0 auto;
  position: relative
}
.reviews__slider {
  max-width: 53.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center
}
.reviews__wrapper {
  display: flex;
  align-items: center
}
.reviews__slide {
  width: 50%
}
.reviews__image {
  margin: 0 auto;
  max-width: 25.875rem
}
.reviews__image img {
  max-width: 100%
}
.reviews__arrow {
  margin: 0 auto;
  border: 1px solid #1b1c1e;
  padding: .25rem .3125rem .3125rem 1.875rem;
  border-radius: 1.25rem;
  transition: all .3s ease 0s
}
.reviews__arrow span {
  font-weight: 600;
  position: relative;
  font-size: .875rem
}
.reviews__arrow span::before {
  position: absolute;
  content: "";
  background: url(../img/icons/arrow_dark.svg) 0 -.1875rem/100% no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: -1.5625rem
}
.reviews__arrow:active {
  color: #faebd7;
  background-color: #1b1c1e
}
.reviews__arrow:active span::before {
  background: url(../img/icons/arrow_light.svg) 0 .125rem/100% no-repeat
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:40.06125em) {
  .menu__item--reviews {
    display: none
  }
}
@media (min-width:47.99875em) {
  .content-hero__title {
    max-width: 21.0625rem
  }
  .content-hero__text {
    max-width: 29.5rem
  }
}
@media (min-width:61.99875em) {
  .hero__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center
  }
  .media-hero {
    text-align: end
  }
}
@media (min-width:67.37375em) {
  .reviews__arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
}
@media (min-width:83.75em) {
  ._spoller-init .spollers__title::before {
    font-size: 1rem
  }
  .title {
    font-size: 3.75rem
  }
  .title--small {
    font-size: 1.75rem
  }
  .direction {
    font-size: .875rem
  }
  .list-composition {
    font-size: .875rem
  }
  .price__item {
    font-size: 1rem
  }
  .price__title {
    font-size: .875rem
  }
  .consultation {
    font-size: .875rem
  }
  .more {
    font-size: .875rem
  }
  .prepayment {
    font-size: .875rem
  }
  .table__value {
    font-size: 1rem
  }
  .table__content {
    font-size: .875rem
  }
  .header__wrapper {
    margin-top: 3.375rem
  }
  .header__container {
    padding-top: 2.1875rem
  }
  .header__container {
    padding-bottom: 2.1875rem
  }
  .menu__list {
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem
  }
  .menu__item {
    font-size: 1.25rem
  }
  .footer {
    margin-bottom: 5rem
  }
  .footer__container {
    gap: 1.875rem
  }
  .hero {
    padding-top: 13.375rem
  }
  .hero {
    padding-bottom: 5rem
  }
  .hero__container {
    gap: 9.1875rem
  }
  .content-hero__title {
    font-size: 3.75rem
  }
  .astrology {
    padding-bottom: 5rem
  }
  .spollers-astrology__title {
    gap: 4.6875rem
  }
  .spollers-astrology__number {
    font-size: 1.75rem
  }
  .body-spoilers__wrapper {
    gap: 1.25rem
  }
  .body-spoilers__wrapper {
    padding-top: 1.25rem
  }
  .body-spoilers__wrapper {
    padding-bottom: 1.25rem
  }
  .body-spoilers__direction {
    font-size: .875rem
  }
  .big-spoilers {
    margin-bottom: 5rem
  }
  .block-big-spoilers__item:not(:last-child) {
    margin-bottom: 5rem
  }
  .block-big-spoilers__text {
    margin-left: 13.5625rem
  }
  .block-big-spoilers__text {
    font-size: 1.75rem
  }
  .block-big-spoilers__body {
    margin-left: 13.5625rem
  }
  .reviews {
    margin-bottom: 5rem
  }
}
@media (min-width:90em) {
  .hero__container {
    padding-right: 6.875rem
  }
  .hero__container {
    padding-left: 6.875rem
  }
}
@media (max-width:67.37375em) {
  .reviews__body {
    display: flex;
    align-items: center;
    justify-content: center
  }
}
@media (max-width:61.9375em) {
  .hero__container {
    padding-right: .9375rem
  }
  .hero__container {
    padding-left: .9375rem
  }
}
@media (max-width:47.99875em) {
  .media-hero__desktop {
    display: none
  }
  .media-hero__mobail {
    display: block;
    text-align: center
  }
  .content-hero {
    border-top: 1px solid #1b1c1e;
    padding-top: .9375rem
  }
}
@media (max-width:40.06125em) {
  .menu__body {
    border-top: 1px solid #1b1c1e;
    border-bottom: 1px solid #1b1c1e;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #eae1d5;
    overflow: auto;
    padding: 8.125rem .9375rem 3.4375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../img/icons/burger_button.svg) 0 0/100% no-repeat;
    z-index: 5
  }
  .icon-menu:active {
    background: url(../img/icons/burger_button_dark.svg) 0 0/100% no-repeat
  }
  .menu-open .icon-menu {
    background-image: url(../img/icons/button_close.svg);
    background-repeat: no-repeat;
    vertical-align: right
  }
  .menu-open .icon-menu:active {
    background: url(../img/icons/button_close_dark.svg) 0 0/100% no-repeat
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.75rem
  }
}
@media (max-width:40.06125em) and (max-width:23.4375em) {
  .menu__body {
    margin-top: 2rem
  }
}
@media (max-width:40.06125em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .hero__container {
    padding: 0
  }
  .hero__content {
    padding: 0 .9375rem
  }
}
@media (max-width:23.4375em) {
  ._spoller-init .spollers__title::before {
    font-size: .875rem
  }
  .title {
    font-size: 1.875rem
  }
  .title--small {
    font-size: 1rem
  }
  .direction {
    font-size: .75rem
  }
  .list-composition {
    font-size: .75rem
  }
  .price__item {
    font-size: .875rem
  }
  .price__title {
    font-size: .75rem
  }
  .consultation {
    font-size: .75rem
  }
  .more {
    font-size: .75rem
  }
  .prepayment {
    font-size: .75rem
  }
  .table__value {
    font-size: .875rem
  }
  .table__content {
    font-size: .75rem
  }
  .header__wrapper {
    margin-top: 2rem
  }
  .header__container {
    padding-top: .625rem
  }
  .header__container {
    padding-bottom: .625rem
  }
  .menu__list {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .menu__item {
    font-size: 1rem
  }
  .footer {
    margin-bottom: 3.75rem
  }
  .footer__container {
    gap: 1.25rem
  }
  .hero {
    padding-top: 6.875rem
  }
  .hero {
    padding-bottom: 3.125rem
  }
  .hero__container {
    gap: 1.875rem
  }
  .content-hero__title {
    font-size: 2.8125rem
  }
  .astrology {
    padding-bottom: 3.125rem
  }
  .spollers-astrology__title {
    gap: 2.4375rem
  }
  .spollers-astrology__number {
    font-size: 1rem
  }
  .body-spoilers__wrapper {
    gap: .9375rem
  }
  .body-spoilers__wrapper {
    padding-top: .9375rem
  }
  .body-spoilers__wrapper {
    padding-bottom: .9375rem
  }
  .body-spoilers__direction {
    font-size: .75rem
  }
  .big-spoilers {
    margin-bottom: 3.125rem
  }
  .block-big-spoilers__item:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .block-big-spoilers__text {
    margin-left: .0000000625rem
  }
  .block-big-spoilers__text {
    font-size: 1rem
  }
  .block-big-spoilers__body {
    margin-left: .0000000625rem
  }
  .reviews {
    margin-bottom: 3.125rem
  }
}
@media (max-width:40.06125em) and (min-width:83.75em) {
  .menu__body {
    margin-top: 3.375rem
  }
}
@media (max-width:40.06125em) and (min-width:23.4375em) and (max-width:83.75em) {
  @supports (margin-top:clamp(2rem ,1.4656735751rem + 2.2797927461vw ,3.375rem)) {
    .menu__body {
      margin-top: clamp(2rem ,1.4656735751rem + 2.2797927461vw ,3.375rem)
    }
  }
  @supports not (margin-top:clamp(2rem ,1.4656735751rem + 2.2797927461vw ,3.375rem)) {
    .menu__body {
      margin-top: calc(2rem + 1.375 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
}
@media (min-width:23.4375em) and (max-width:83.75em) {
  @supports (font-size:clamp(0.875rem ,0.8264248705rem + 0.207253886vw ,1rem)) {
    ._spoller-init .spollers__title::before {
      font-size: clamp(.875rem ,.8264248705rem + .207253886vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8264248705rem + 0.207253886vw ,1rem)) {
    ._spoller-init .spollers__title::before {
      font-size: calc(.875rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.146373057rem + 3.1088082902vw ,3.75rem)) {
    .title {
      font-size: clamp(1.875rem ,1.146373057rem + 3.1088082902vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.146373057rem + 3.1088082902vw ,3.75rem)) {
    .title {
      font-size: calc(1.875rem + 1.875 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(1rem ,0.7085492228rem + 1.2435233161vw ,1.75rem)) {
    .title--small {
      font-size: clamp(1rem ,.7085492228rem + 1.2435233161vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.7085492228rem + 1.2435233161vw ,1.75rem)) {
    .title--small {
      font-size: calc(1rem + .75 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .direction {
      font-size: clamp(.75rem ,.7014248705rem + .207253886vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .direction {
      font-size: calc(.75rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .list-composition {
      font-size: clamp(.75rem ,.7014248705rem + .207253886vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .list-composition {
      font-size: calc(.75rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8264248705rem + 0.207253886vw ,1rem)) {
    .price__item {
      font-size: clamp(.875rem ,.8264248705rem + .207253886vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8264248705rem + 0.207253886vw ,1rem)) {
    .price__item {
      font-size: calc(.875rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .price__title {
      font-size: clamp(.75rem ,.7014248705rem + .207253886vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .price__title {
      font-size: calc(.75rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .consultation {
      font-size: clamp(.75rem ,.7014248705rem + .207253886vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .consultation {
      font-size: calc(.75rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .more {
      font-size: clamp(.75rem ,.7014248705rem + .207253886vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .more {
      font-size: calc(.75rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .prepayment {
      font-size: clamp(.75rem ,.7014248705rem + .207253886vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .prepayment {
      font-size: calc(.75rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8264248705rem + 0.207253886vw ,1rem)) {
    .table__value {
      font-size: clamp(.875rem ,.8264248705rem + .207253886vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8264248705rem + 0.207253886vw ,1rem)) {
    .table__value {
      font-size: calc(.875rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .table__content {
      font-size: clamp(.75rem ,.7014248705rem + .207253886vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .table__content {
      font-size: calc(.75rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (margin-top:clamp(2rem ,1.4656735751rem + 2.2797927461vw ,3.375rem)) {
    .header__wrapper {
      margin-top: clamp(2rem ,1.4656735751rem + 2.2797927461vw ,3.375rem)
    }
  }
  @supports not (margin-top:clamp(2rem ,1.4656735751rem + 2.2797927461vw ,3.375rem)) {
    .header__wrapper {
      margin-top: calc(2rem + 1.375 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.0178108808rem + 2.5906735751vw ,2.1875rem)) {
    .header__container {
      padding-top: clamp(.625rem ,.0178108808rem + 2.5906735751vw ,2.1875rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.0178108808rem + 2.5906735751vw ,2.1875rem)) {
    .header__container {
      padding-top: calc(.625rem + 1.5625 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.0178108808rem + 2.5906735751vw ,2.1875rem)) {
    .header__container {
      padding-bottom: clamp(.625rem ,.0178108808rem + 2.5906735751vw ,2.1875rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.0178108808rem + 2.5906735751vw ,2.1875rem)) {
    .header__container {
      padding-bottom: calc(.625rem + 1.5625 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports ((-moz-column-gap:clamp(2.5rem ,1.042746114rem + 6.2176165803vw ,6.25rem)) or (column-gap:clamp(2.5rem ,1.042746114rem + 6.2176165803vw ,6.25rem))) {
    .menu__list {
      -webkit-column-gap: clamp(2.5rem ,1.042746114rem + 6.2176165803vw ,6.25rem);
      -moz-column-gap: clamp(2.5rem ,1.042746114rem + 6.2176165803vw ,6.25rem);
      column-gap: clamp(2.5rem ,1.042746114rem + 6.2176165803vw ,6.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(2.5rem ,1.042746114rem + 6.2176165803vw ,6.25rem)) or (column-gap:clamp(2.5rem ,1.042746114rem + 6.2176165803vw ,6.25rem))) {
    .menu__list {
      -webkit-column-gap: calc(2.5rem + 3.75 * (100vw - 23.4375rem)/ 60.3125);
      -moz-column-gap: calc(2.5rem + 3.75 * (100vw - 23.4375rem)/ 60.3125);
      column-gap: calc(2.5rem + 3.75 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(1rem ,0.9028497409rem + 0.414507772vw ,1.25rem)) {
    .menu__item {
      font-size: clamp(1rem ,.9028497409rem + .414507772vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9028497409rem + 0.414507772vw ,1.25rem)) {
    .menu__item {
      font-size: calc(1rem + .25 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (margin-bottom:clamp(3.75rem ,3.2642487047rem + 2.0725388601vw ,5rem)) {
    .footer {
      margin-bottom: clamp(3.75rem ,3.2642487047rem + 2.0725388601vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.75rem ,3.2642487047rem + 2.0725388601vw ,5rem)) {
    .footer {
      margin-bottom: calc(3.75rem + 1.25 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (gap:clamp(1.25rem ,1.0071243523rem + 1.0362694301vw ,1.875rem)) {
    .footer__container {
      gap: clamp(1.25rem ,1.0071243523rem + 1.0362694301vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,1.0071243523rem + 1.0362694301vw ,1.875rem)) {
    .footer__container {
      gap: calc(1.25rem + .625 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (padding-top:clamp(6.875rem ,4.3490932642rem + 10.7772020725vw ,13.375rem)) {
    .hero {
      padding-top: clamp(6.875rem ,4.3490932642rem + 10.7772020725vw ,13.375rem)
    }
  }
  @supports not (padding-top:clamp(6.875rem ,4.3490932642rem + 10.7772020725vw ,13.375rem)) {
    .hero {
      padding-top: calc(6.875rem + 6.5 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .hero {
      padding-bottom: clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .hero {
      padding-bottom: calc(3.125rem + 1.875 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (gap:clamp(1.875rem ,-0.9666450777rem + 12.1243523316vw ,9.1875rem)) {
    .hero__container {
      gap: clamp(1.875rem ,-.9666450777rem + 12.1243523316vw ,9.1875rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,-0.9666450777rem + 12.1243523316vw ,9.1875rem)) {
    .hero__container {
      gap: calc(1.875rem + 7.3125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(2.8125rem ,2.4481865285rem + 1.5544041451vw ,3.75rem)) {
    .content-hero__title {
      font-size: clamp(2.8125rem ,2.4481865285rem + 1.5544041451vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(2.8125rem ,2.4481865285rem + 1.5544041451vw ,3.75rem)) {
    .content-hero__title {
      font-size: calc(2.8125rem + .9375 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .astrology {
      padding-bottom: clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .astrology {
      padding-bottom: calc(3.125rem + 1.875 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (gap:clamp(2.4375rem ,1.5631476684rem + 3.7305699482vw ,4.6875rem)) {
    .spollers-astrology__title {
      gap: clamp(2.4375rem ,1.5631476684rem + 3.7305699482vw ,4.6875rem)
    }
  }
  @supports not (gap:clamp(2.4375rem ,1.5631476684rem + 3.7305699482vw ,4.6875rem)) {
    .spollers-astrology__title {
      gap: calc(2.4375rem + 2.25 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(1rem ,0.7085492228rem + 1.2435233161vw ,1.75rem)) {
    .spollers-astrology__number {
      font-size: clamp(1rem ,.7085492228rem + 1.2435233161vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.7085492228rem + 1.2435233161vw ,1.75rem)) {
    .spollers-astrology__number {
      font-size: calc(1rem + .75 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.8160621762rem + 0.518134715vw ,1.25rem)) {
    .body-spoilers__wrapper {
      gap: clamp(.9375rem ,.8160621762rem + .518134715vw ,1.25rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.8160621762rem + 0.518134715vw ,1.25rem)) {
    .body-spoilers__wrapper {
      gap: calc(.9375rem + .3125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,0.8160621762rem + 0.518134715vw ,1.25rem)) {
    .body-spoilers__wrapper {
      padding-top: clamp(.9375rem ,.8160621762rem + .518134715vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,0.8160621762rem + 0.518134715vw ,1.25rem)) {
    .body-spoilers__wrapper {
      padding-top: calc(.9375rem + .3125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (padding-bottom:clamp(0.9375rem ,0.8160621762rem + 0.518134715vw ,1.25rem)) {
    .body-spoilers__wrapper {
      padding-bottom: clamp(.9375rem ,.8160621762rem + .518134715vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.9375rem ,0.8160621762rem + 0.518134715vw ,1.25rem)) {
    .body-spoilers__wrapper {
      padding-bottom: calc(.9375rem + .3125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .body-spoilers__direction {
      font-size: clamp(.75rem ,.7014248705rem + .207253886vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7014248705rem + 0.207253886vw ,0.875rem)) {
    .body-spoilers__direction {
      font-size: calc(.75rem + .125 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .big-spoilers {
      margin-bottom: clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .big-spoilers {
      margin-bottom: calc(3.125rem + 1.875 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .block-big-spoilers__item:not(:last-child) {
      margin-bottom: clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .block-big-spoilers__item:not(:last-child) {
      margin-bottom: calc(3.125rem + 1.875 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (margin-left:clamp(0.0000000625rem ,-5.2704014676rem + 22.4870465285vw ,13.5625rem)) {
    .block-big-spoilers__text {
      margin-left: clamp(.0000000625rem ,-5.2704014676rem + 22.4870465285vw ,13.5625rem)
    }
  }
  @supports not (margin-left:clamp(0.0000000625rem ,-5.2704014676rem + 22.4870465285vw ,13.5625rem)) {
    .block-big-spoilers__text {
      margin-left: calc(.0000000625rem + 13.5624999375 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (font-size:clamp(1rem ,0.7085492228rem + 1.2435233161vw ,1.75rem)) {
    .block-big-spoilers__text {
      font-size: clamp(1rem ,.7085492228rem + 1.2435233161vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.7085492228rem + 1.2435233161vw ,1.75rem)) {
    .block-big-spoilers__text {
      font-size: calc(1rem + .75 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (margin-left:clamp(0.0000000625rem ,-5.2704014676rem + 22.4870465285vw ,13.5625rem)) {
    .block-big-spoilers__body {
      margin-left: clamp(.0000000625rem ,-5.2704014676rem + 22.4870465285vw ,13.5625rem)
    }
  }
  @supports not (margin-left:clamp(0.0000000625rem ,-5.2704014676rem + 22.4870465285vw ,13.5625rem)) {
    .block-big-spoilers__body {
      margin-left: calc(.0000000625rem + 13.5624999375 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .reviews {
      margin-bottom: clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.396373057rem + 3.1088082902vw ,5rem)) {
    .reviews {
      margin-bottom: calc(3.125rem + 1.875 * (100vw - 23.4375rem)/ 60.3125)
    }
  }
}
@media (min-width:61.9375em) and (max-width:90em) {
  @supports (padding-right:clamp(0.9375rem ,-12.1673162584rem + 21.1581291759vw ,6.875rem)) {
    .hero__container {
      padding-right: clamp(.9375rem ,-12.1673162584rem + 21.1581291759vw ,6.875rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,-12.1673162584rem + 21.1581291759vw ,6.875rem)) {
    .hero__container {
      padding-right: calc(.9375rem + 5.9375 * (100vw - 61.9375rem)/ 28.0625)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,-12.1673162584rem + 21.1581291759vw ,6.875rem)) {
    .hero__container {
      padding-left: clamp(.9375rem ,-12.1673162584rem + 21.1581291759vw ,6.875rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-12.1673162584rem + 21.1581291759vw ,6.875rem)) {
    .hero__container {
      padding-left: calc(.9375rem + 5.9375 * (100vw - 61.9375rem)/ 28.0625)
    }
  }
}
@media (any-hover:hover) {
  .instagram:hover {
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25))
  }
  .telegtam:hover {
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25))
  }
  .social span:hover {
    text-decoration: none
  }
  .social:hover img {
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25))
  }
  .consultation__link:hover {
    text-decoration: none
  }
  .menu__link:hover {
    text-decoration: underline
  }
}